<article class="fg-gray-1 post-detail">
  <div>
    <header class="mr-1 mb-2 post-detail-header">
      <h1><%= @post.title %></h1>
      <p><%= @post.summary %></p>
      <p class="fg-grey">
        <i class="fa fa-calendar-o fg-black" aria-hidden="true"></i>
        <%= format_date(@post.date_published) %>
      </p>
    </header>
  </div>
  <%= as_html(@post.body) %>
</article>
