<article class="fg-gray-1 post-detail">
  <div>
    <header class="mr-1 mb-2 post-detail-header">
      <h1><%= @post.title %></h1>
      <p><%= @post.summary %></p>
      <p><%= @post.date_published %></p>
    </header>
  </div>
  <%= @post.body %>
  <h3>"All of the forces of nature and technology are against you when creating an app"</h3>
  <%= @post.body %>
</article>
