<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Programming blog">
    <meta name="author" content="Denver Smith">

    <title>Posts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/ocean.css") %>">
  </head>

  <body>
    <div class="container">
      <main role="main">
        <nav class="navbar">
          <ul>
            <%= link to: "https://denvaar.github.io/", class: "nav-link" do %>
              <li>About</li>
            <% end %>
            <%= link to: post_path(@conn, :index), class: "nav-link" do %>
              <li>Articles</li>
            <% end %>
            <%= link to: post_path(@conn, :index), class: "nav-link" do %>
              <li>TIL</li>
            <% end %>
            <%= if @current_user do %>
              <%= link to: post_path(@conn, :new), class: "nav-link" do %>
                <li>New</li>
              <% end %>
              <%= if assigns[:post] do %>
                <%= link to: post_path(@conn, :edit, @post), class: "nav-link" do %>
                  <li>Edit</li>
                <% end %>
              <% end %>
              <%= link to: session_path(@conn, :delete, @current_user.id), method: :delete, class: "nav-link" do %>
                <li>
                  Log out <i class="fa fa-sign-out" aria-hidden="true"></i>
                </li>
              <% end %>
            <% end %>
          </ul>
        </nav>
        <% info_flash = get_flash(@conn, :info) %>
        <% error_flash = get_flash(@conn, :error) %>
        <%= if info_flash do %>
          <p class="alert alert-info text-center p-1 ml-1 mr-1" role="alert"><%= info_flash %></p>
        <% end %>
        <%= if error_flash do %>
          <p class="alert alert-danger text-center p-1 ml-1 mr-1" role="alert"><%= error_flash %></p>
        <% end %>
        <%= render @view_module, @view_template, assigns %>
      </main>
      <div class="footer pt-1 pb-1">
        <p class="fg-grey text-center">© 2017 Denver Smith</p>
      </div>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/highlight.pack.js") %>"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
