.flex-flow-wrap { flex-flow: wrap; }
.flex-container {
  display: flex;
  .flex-item {
    flex: 1;
  }
}

.post-detail {
  font-family: 'Vollkorn', serif;

  header {
    font-family: 'Avenir Next', sans-serif;
  }
  a {
    color: $black;
    &:hover {
      color: $green;
    }
  }

  img { max-width: 100%; margin: 1rem; }
  .float-left { float: left; max-width: 50%; }
  .float-right { float: right; max-width: 50%; }

}

.text-right { text-align: right; }

@media only screen and (min-width: 140px) {
  .post-outer-container {
    height: 360px;
  }
  .post-container {
    height: 270px;

    header {
      height: 230px;
    }

    .post-title {
      font-size: 1.5rem;
      font-weight: bold;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

  }

  .post-detail {
    margin: 1rem;
    max-width: 750px;
  }

  .post-detail-header {
    border-top: 8px solid $black;
    border-bottom: 3px solid $black;
    float: left;
    width: 100%;
    text-align: center;
    h1 {
      color: $red;
    }
  }
}

@media only screen and (min-width: 550px) {
  .post-outer-container { }
  .post-container {
    height: calc(100% - 2rem);
    margin-left: 4rem;

    header {
      height: 260px;
    }

    .post-title {
      font-size: 2.5rem;
      font-weight: bold;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .post-footer-content {
      margin-right: 3rem;
    }
  }

  .post-detail {
    margin: 2rem;
    font-size: 18px;
  }

  .post-detail-header {
    text-align: left;
    width: 55%;

    h1 {
      font-size: 2rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .post-outer-container {
  }
  .post-container {
    header {
      height: 260px;
      max-width: 700px;
    }

    .post-title {
      font-size: 3rem;
      font-weight: bold;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .post-footer-content {
      margin-right: 4rem;
      max-width: 600px;
    }
  }

  .post-detail {
    margin-left: auto;
    margin-right: auto;
  }

  .post-detail-header {
    max-width: 550px;
    h1 {
      font-size: 3rem;
    }
  }
}
